<!-- This is the include that renders the index pages, for posts and notes -->

{%- if page.permalink == "/" -%}

    {%- include frontmatter.html -%}

	<h2>Latest Worknotes</h2>
    {%- for item in site.posts -%}

		<!-- Check that the post is public and not set to secret -->		
		{%- if {{item.clientwork}} == "public" -%}
		
        <div class="feed-title-excerpt-block disable-select" data-url="{{site.url}}{{item.url}}">
			
            <a href="{{item.url}}" style="text-decoration: none; color: #555555;">
            <p class="feed-title">{{ item.title }}</p>
            <p class="feed-excerpt">{{ item.excerpt | strip_html | strip | escape | truncate: 100}}</p>
            </a>
        
		</div>
		{%- endif -%}
		
    {%- endfor -%}
{%- endif -%}


{%- if page.permalink == "/notes" -%}
    {%- for item in site.notes -%}
    <div class="feed-title-excerpt-block disable-select" data-url="{{site.url}}{{item.url}}">
        
		<a href="{{item.url}}" style="text-decoration: none; color: #333333;">
        <p class="feed-title">{{ item.title }}</p>
        <p class="feed-excerpt">{{ item.content | strip_html | strip | escape | truncate: 200 }}</p>
        </a>
    
	</div>
    {%- endfor -%}
{%- endif -%}
