<h1>The Adaptive Futurism and Cognitive Risk Consultancy</h1>

<p>As one of the world’s leading futurists our principal, Ben Hammersley, has been working with corporations, governments, and elite individuals worldwide for more than a decade. Today we are proud to offer a suite of services and training based on this experience. There are two major strands to our work.</p>

<h2>Adaptive Futurism</h2>

<p>How can leaders and decision makers plan for the future in such turbulent and complex times? How can we embrace our responsibilties to ourselves and each other, and prepare for the coming years, when the tools and slogans and mental models of yesterday are ceasing to work? At Hammersley Futures we believe the answer comes in <b>Adaptive Futurism</b> - the new methods and mental models needed to thrive in the coming years.

<h2>Cognitive Risk</h2>

<p>The biggest threat to future success – your own, your family's, your company's, your communities', and your country's – is the inability to think clearly. After five years of multidisciplinary research and design work, Hammersley Futures is able to offer a suite of services dedicated to countering this <b>Cognitive Risk</b>. Building on a four part model of Bad Inputs, Bad Models, Bad Environments, and Bad Expression, we help our clients to detect, mitigate, and reverse known cognitive threats of the 2020s. From nation-state espionage and cybersecurity, to obsolete mental models and <i>mise-en-place</i> self-sabotage.

<h3>Available Services</h3>

<p>For high-impact keynote speeches ([[in-person, virtual, live, and pre-recorded]]) and training, sector-specific strategic scenario planning, or confidential personal advisory, you can contact us inconfidence through this <a href="https://forms.gle/mWafpKUxrNs3dPPu6">contact form here</a>, or by emailing <a href="mailto:ben@benhammersley.com">ben@benhammersley.com</a> directly</a>.

<h4>Infrastructure Colophon</h4>
<p>This site, and the technologies behind the Hammersley Futures systems, have been extensively upgraded since March 2020. This site, and its contents, is created by a combination of human expertise and a suite of machine learning and agent-based subsystems that, for want of a better metaphor, tend to the gardening. More will be written about it in the future.</p>
 

