<h1>The Adaptive Futurism and Cognitive Risk Consultancy</h1>

<p>The world is changing, and the future has never been less clear. As a decision maker, you will need foresight, and clearer, wider, thinking in order to survive and prosper.</p>

<p>Our mission is to empower leaders with the <b>tools</b>, <b>techniques</b>, <b>technologies</b>, and <b>teachings</b> that will guide them through the coming decade. As one of the world’s leading futurists our principal, Ben Hammersley, has been working with corporations, governments, and elite individuals worldwide for twenty years. Today we are proud to offer a suite of services and training based on this experience. There are two major strands to our work.</p>

<h2>Adaptive Futurism</h2>

<p>How can leaders and decision makers plan for the future in such turbulent and complex times? How can we embrace our responsibilties to ourselves and each other, and prepare for the coming years, when the tools and slogans and mental models of yesterday are ceasing to work? At Hammersley Futures we believe the answer comes in <b>Adaptive Futurism</b> - the new methods and mental models needed to thrive in the coming years.</p>

<h2>Cognitive Risk</h2>

<p>The biggest threat to future success is the inability to think clearly. After five years of multidisciplinary research and design work, Hammersley Futures is able to offer a suite of services dedicated to countering this <b>Cognitive Risk</b>. Building on a four part model of <b>Bad Inputs</b>, <b>Bad Models</b>, <b>Bad Environments</b>, and <b>Bad Expression</b>, we help our clients to detect, mitigate, and reverse the known and forecast cognitive threats of the 2020s. From nation-state espionage and cybersecurity, to obsolete mental models and <i>mise-en-place</i> self-sabotage.

<h3>Available Services</h3>

<p>For high-impact keynote speeches (in-person, virtual, live, and pre-recorded) and training, sector-specific strategic scenario planning, or confidential personal advisory, you can contact us in confidence through this <a href="https://forms.gle/mWafpKUxrNs3dPPu6">contact form here</a>, or by emailing <a href="mailto:ben@benhammersley.com">ben@benhammersley.com</a> directly</a>.