<h1>The Cognitive Risk and Adaptive Futurism Consultancy</h1>
<p>As one of the world’s leading futurists, Ben Hammersley has been working with corporations, governments, and elite individuals worldwide for more than a decade. Synthesising cutting-edge research from multiple disciplines, he guides his audiences through the key lessons on how to work, live, thrive, and innovate in the coming years.</p>

<p>Ben specializes in high-impact keynote speeches and training, sector-specific strategic scenario planning, and foresight-led design projects.</p>

<p>You can contact us through this <a href="https://forms.gle/mWafpKUxrNs3dPPu6">contact form here</a>, or by emailing <a href="mailto:ben@benhammersley.com">ben@benhammersley.com</a> directly</a>.

<h2>Infrastructure Colophon</h2>
<p>This site, and the technologies behind the Hammersley Futures systems, have been extensively upgraded since March 2020. This site, and its contents, is created by a combination of human expertise and a suite of machine learning and agent-based subsystems that, for want of a better metaphor, tend to the gardening. More will be written about it in the future.</p>
 

